$-heading-font-sizes: (
  1: 3rem,
  2: 2.25rem,
  3: 1.875rem,
  4: 1.5rem,
  5: 1.25rem,
  6: 1.125rem,
);

@use 'sass:map';
@use 'vendor/rfs' with (
  $rfs-base-value: 1.125rem,
  $rfs-breakpoint: 1280
);

@layer base {
  @for $level from 1 through 6 {
    h#{$level},
    .h#{$level} {
      @include rfs.font-size(map.get($map: $-heading-font-sizes, $key: $level));
      @apply font-medium leading-tight text-[color:--heading-color] [&:not(:last-child)]:mb-4;
    }
  }

  code {
    @apply rounded-sm px-1 py-0.5 rfs:text-base;
    @apply bg-primary-100 dark:bg-primary-900;
  }

  mark {
    @apply rounded-sm px-1 py-0.5;
    @apply bg-secondary-600 text-gray-50;
    @apply dark:bg-primary-300 dark:text-primary-700;
  }

  p {
    @apply text-justify [&:not(:last-child)]:mb-4;

    &.lead {
      @apply font-light rfs:text-xl;
    }

    &.lead-lg {
      @apply font-light rfs:text-2xl;
    }
  }

  small {
    @apply rfs:text-sm;
  }
}
