$-font-path: null !default;

@use './../node_modules/@fontsource-variable/roboto-flex/scss/mixins' as roboto with (
  $directory: $-font-path
);
@use './../node_modules/@fontsource-variable/roboto-mono/scss/mixins' as roboto-mono with (
  $directory: $-font-path
);
@use './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@use './../node_modules/@fortawesome/fontawesome-free/scss/brands' with (
  $fa-font-path: $-font-path
);
@use './../node_modules/@fortawesome/fontawesome-free/scss/regular' with (
  $fa-font-path: $-font-path
);
@use './../node_modules/@fortawesome/fontawesome-free/scss/solid' with (
  $fa-font-path: $-font-path
);
@include roboto.faces();
@include roboto-mono.faces();
